@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
}

h1{
    background-color: #6c757d;
    color: #ffffff;
    padding-top:1em;
    padding-bottom:1em;
    margin: 0%;
}

h3, h4{
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin: 0;
    
}

#titleColouredBand{
    background-color: #FE5F55;
}


a{
    text-decoration: none;
}

.topicButtons{
    padding-top: 1em;
    padding-bottom: 1em;
}

.card{
    display: flex;
    flex-direction: row;
}
.card-img-top{
    width: 20%;
}

@media screen and (max-width: 600px) {
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: no-wrap;
        width: 100%;

    }
    .card-img-top {
        width: 100%; 
    }
    .card-body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

    }
    .card-title{
        flex: 1;
    }
  }

