@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
}

h1{
    background-color: #6c757d;
    color: #ffffff;
    padding-top:1em;
    padding-bottom:1em;
    margin: 0%;
}

h3{
    padding-top:1em;
    padding-bottom:1em;
}

a{
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: row;
}
.card-img-top{
    width: 20%;
}


